<div class="MainForm">
        <div class="container">
          <div class="login-form">
              <div class="main-div">
                  <div class="panel">
                      <h2>Recuperar Contraseña</h2>
                      <p>Por favor ingresa tu correo registrado para enviarte la contraseña nuevamente</p>
                  </div>
                  <form id="forgotPassword" method="POST" action="/olvidarcontrasena">
                      <div class="form-group">
                          <input type="text" class="form-control" name="email" placeholder="Nombre de usuario">
                          <!--<input type="email" class="form-control" id="inputEmail" placeholder="Email Address">-->
                      </div>
                      <button type="submit" class="btn btn-primary">Recuperar</button>
                  </form>
              </div>
      
          </div>
      </div>
  </div>